extends ../layout

block content
    .row
        h2= title
    .row
        h3= `Estas seguro que quieres eliminar ${project.name}?`
    .row
        form(action=`/admin/projects/${project._id}/eliminar`, method="post")
            button.btn.btn-danger(type="submit") Eliminar
            a.btn.btn-primary(href=`/admin/projects/`) Cancelar