.navbar{
    display: flex;
    justify-content: end;
    align-items: end;
}

.navbar-collapse{
    flex-grow: 0;
}

@media screen and (max-width: 500px){
    .logo p, .logo h1{
        display: none;
    }
}