extends layout
block content
    if (error.status == 404)
        h2 Error 404 
        h3 Página no encontrada
    else
        h2 #{error.status || 'Undefined Error'}
        p #{error.message}
        pre #{error.stack}