.logoimg{
    width: 70px;
    margin: 5px;
}

.logo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin: 10px;
}

.logo h1{
    font-size: 3rem;
    font-weight: 600;
    margin: 0;
}

.logo p{
    font-size: 1.2rem;
    font-weight: 400;
    margin: 0;
    margin-left: 2px;
}

.hero-img{
    width: 100%;
    max-width: 70vw;
    margin: auto;
}

.about-img{
    width: 80%;
}

.social-icon{
    width: 30px;
    margin: 5px;
}

.img-admin{
    width: 150px;
}